# Silence direnv PS1 warnings
export DIRENV_LOG_FORMAT=""

# Activate .venv, but strip out PS1 assignments
eval "$(grep -Ev '(^|\s)PS1=' .venv/bin/activate)"

# Project-specific vars
export PROJECT_NAME=$(basename "$PWD")
